{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "Sobre o GeoNode" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Não funcionou" %}</h2>
</div>
<p>
　　{% trans "GeoNode é um sistema de gerenciamento de conteúdo geoespacial, uma plataforma para o gerenciamento e publicação de dados geoespaciais. Ele reúne projetos de software de código aberto maduros e estáveis em uma interface consistente e fácil de usar, permitindo que usuários não especializados compartilhem dados e criem mapas interativos." %}
</p>
<p>
　　{% trans "As ferramentas de gerenciamento de dados integradas ao GeoNode permitem a criação integrada de dados, metadados e visualizações de mapas. Cada conjunto de dados no sistema pode ser compartilhado publicamente ou restrito para permitir o acesso apenas a usuários específicos. Recursos sociais como perfis de usuário e sistemas de avaliação permitem o desenvolvimento de comunidades em torno de cada plataforma para facilitar o uso, gerenciamento e controle de qualidade dos dados contidos na instância do GeoNode." %}
</p>
<p>
　　{% trans "Ele também foi projetado para ser uma plataforma flexível que os desenvolvedores de software podem estender, modificar ou integrar para atender às necessidades em suas próprias aplicações." %}
</p>

{% endblock %}
